body {
    padding: 0;
    margin: 0;
    background-color: #020304;
    user-select: none;
}
.title {
    color: rgb(255, 255, 255);
    text-align: center;
   
}

.picture {
    border-radius: 4px;
}
.para {
    color: gray;
    text-align: right;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 50px 50px;
}
.about-us {
    color: #020304;
    font-weight: bold;
    background-color: #fab718;
    border: 1px solid #fab718;
    cursor: pointer;
    width: 110px;
    height: 50px;
    font-size: 18px;
    border-radius: 6px;
    margin: 100px 50px;
    padding: 8px 16px;
    float: right;
    text-align: center;
    position: absolute;
    left: 670px;
}
